In [3]:
import model_builder as mb
import numpy as np
import pandas as pd

In [4]:
ORG_DATA_DIR = "data/incidentProcess_custom.csv"
PREP_DATA_DIR = "./data/preprocessed_incident_process_custom.pkl"

In [5]:
dfs = pd.read_pickle("./data/dfs.pkl")
dfp = pd.read_pickle("./data/dfp.pkl")

In [6]:
pd.concat([dfs.dtypes,dfp.dtypes],axis=1).T

,Incident ID,Activity,ActivityTimeStamp,Asset Affected,Asset Type Affected,Asset SubType Affected,Service Affected,Status,Impact,Urgency,...,Reopen Time,Resolved Time,Close Time,Handle Time (Hours),Closure Code,Asset Caused,Asset Type Caused,Asset SubType Caused,Service Caused,Assignment Group
0,object,object,int64,object,object,object,object,object,int32,int32,...,float64,float64,int64,float64,object,object,object,object,object,object
1,object,object,int64,object,object,object,object,object,int32,int32,...,float64,float64,int64,float64,object,object,object,object,object,object

In [11]:
dfp.iloc[:3,:]

,Incident ID,Activity,ActivityTimeStamp,Asset Affected,Asset Type Affected,Asset SubType Affected,Service Affected,Status,Impact,Urgency,...,Reopen Time,Resolved Time,Close Time,Handle Time (Hours),Closure Code,Asset Caused,Asset Type Caused,Asset SubType Caused,Service Caused,Assignment Group
0,IM0000004,Assign to 2nd Line Operator,1357543037,SUB000508,subapplication,Web Based Application,SRVC000162,Closed,4,4,...,NaN,1.383569e+09,1383569477,3.871691e+09,Other,SUB000508,subapplication,Web Based Application,SRVC000162,TEAM0001
1,IM0000004,Assign to 1st Line Operator,1383563377,SUB000508,subapplication,Web Based Application,SRVC000162,Closed,4,4,...,NaN,1.383569e+09,1383569477,3.871691e+09,Other,SUB000508,subapplication,Web Based Application,SRVC000162,TEAM0003
2,IM0000004,Assign to 2nd Line Operator,1383563378,SUB000508,subapplication,Web Based Application,SRVC000162,Closed,4,4,...,NaN,1.383569e+09,1383569477,3.871691e+09,Other,SUB000508,subapplication,Web Based Application,SRVC000162,TEAM0003

In [8]:
df_diff

Empty DataFrame
Columns: [Incident ID, Activity, ActivityTimeStamp, Asset Affected, Asset Type Affected, Asset SubType Affected, Service Affected, Status, Impact, Urgency, Priority, Category, Number of Reassignments, Open Time, Reopen Time, Resolved Time, Close Time, Handle Time (Hours), Closure Code, Asset Caused, Asset Type Caused, Asset SubType Caused, Service Caused, Assignment Group]
Index: []

[0 rows x 24 columns]